@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.text-stroke-3 {
    -webkit-text-stroke: 1px rgba(120, 109, 35, 1);
}



.css-156e1s9-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
    color: rgb(255, 255, 255);
}

.css-co5tlx-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
    color: rgb(255, 255, 255);
}